<h1>Serviços Disponíveis</h1>

<div class="col-md-4 my-3">
  <%= search_form_for @q, html: { class: "mb-3"  } do |form| %>
    <div class="input-group">
      <%= form.search_field :title_or_description_cont, class: "form-control", placeholder: "Buscar Serviços" %>
      <%= form.submit "Buscar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<p>Ordenar por: <%= sort_link(@q, :title) %></p>

<div class="row">
  <% @services.each do |service| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5><%= link_to service.title, service %></h5>
          <p><%= number_to_currency(service.price) %></p>
          <p><%= truncate(service.description, length: 100) %></p>
          <%= link_to 'Ver detalhes', service, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
