<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @service.title %></h1>
      <p><%= number_to_currency(@service.price) %></p>
      <p><%= @service.description %></p>

      <div class="avaliacoes">
        <h2>Avaliações</h2>

        <% if @service.reviews.any? %>
          <% @service.reviews.each do |review| %>
            <div class="review">
              <strong><%= review.user.email %></strong>
              <p>Nota: <%= review.rating %>/5</p>
              <p><%= review.content %></p>
              <hr>
            </div>
          <% end %>
        <% else %>
          <p>Nenhuma avaliação ainda.</p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <% if policy(@service).update? %>
        <p>Você é o provedor deste serviço.</p>
        <%= link_to "Editar Serviço", edit_service_path(@service), class: "btn btn-primary" %>
        <%= link_to "Exluir Serviço", service_path(@service), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este serviço?" } %>
      <% end %>
      <% if  policy(@service).contract_service? %>
        <%= link_to "Contratar", new_service_contract_path(@service), class: "btn btn-success btn-lg" %>
      <% end %>
      <% if !user_signed_in? %>
        <%= link_to "Entrar", new_user_session_path %> para contratar este serviço.
      <% end %>
    </div>
  </div>
</div>
